:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    background: #F8F8F8;
    background: linear-gradient(to right, rgb(245, 246, 250), rgb(248, 248, 248));
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5px;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    border-style: outset;
    /* box-shadow: aqua; */
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 3px;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  .btn-google {
    background: #fff;
    border-radius: 5px;
    border-width: 0;
    border: 1px solid #ddd;
    color: #737373
  }

  
  
  .btn-facebook {
    color: white;
    background-color: #000000;
  }

  .third-party-signups {
    margin-bottom: 25px
}

.button {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 45px;
  margin: auto auto 5px auto;
  max-width: 400px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  -webkit-appearance: none
}

a.google-branded-button {
  background: #fff;
  border-radius: 5px;
  border-width: 0;
  border: 2px solid #ddd;
  color: #737373
}

a.google-branded-button:hover,
a.google-branded-button:focus {
  text-decoration: none;
  border: 1px solid #bbb
}

a.google-branded-button:active {
  background-color: #e5e5e5
}

span.google-branded-button-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 20px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box
}

span.google-branded-button-text {
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif
}


#organizationAccountCreationSection, #studentAccountCreationSection{
  display: none;
}
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }